# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/

# Environment variables
.env
db/client.py

# Logs
*.log

# Databases
*.db

# IDE files
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db

# Static files (opcional: si pesan mucho)
# static/uploads/
