<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pedidos</title>
    <link rel="stylesheet" type="text/css" href="/static/styles.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <style>
        table {
	width: 100%;
	border-collapse: collapse;
}

th, td {
	border: 1px solid #ddd;
	padding: 8px;
}

th {
	background-color: #094c90;
	color: white;
}

	tr:nth-child(even) {
	background-color: #f2f2f2;
}

	tr:hover {
	background-color: #ddd;
}

	td {
	background-color: #e6f7ff;
}

	tr:nth-child(odd) td {
	background-color: #cceeff;
}

	tr:nth-child(even) td {
	background-color: #b3e6ff;
}

    </style>
</head>
<body>
    <div class="container">
            <h1 style="font-size: 2rem; color: black;"><b>Pedidos</b> 
                <form action="/dashboard/pedidos" method="get">
                <button style="font-size: 25px; padding: 20px 30px; color:rgb(132, 0, 255); background-color: rgb(21, 5, 37);" type="submit">Crear pedido</button>
            </form>
            </h1>
            <form action="/inicio/pedidos" method="get">
                <button style="font-size: 25px; padding: 20px 30px; color:rgb(132, 0, 255); background-color: rgb(21, 5, 37);" type="submit">Volver a pedidos</button>
            </form>
            <form action="/total_ventas" method="get">
                <button style="font-size: 25px; padding: 20px 30px; color:rgb(132, 0, 255); background-color: rgb(21, 5, 37);" type="submit">Ir a ventas</button>
            </form>
            <table>
                <thead>
                    <tr>
                        <th>Fecha</th>
                        <th>Cliente</th>
                        <th>Pedido</th>
                        <th>Indicaciones</th>
                        <th>Precio Total</th>
                        <th>Abono</th>
                        <th>Eliminar pedido</th>
                    </tr>
                </thead>
                <tbody>
                    {% for row in movimientos %}
                    <tr>
                        <td>{{ row.fecha }}</td>
                        <td>{{ row.cliente }}</td>
                        <td>{{ row.pedido }}</td>
                        <td>{{ row.indicaciones }}</td>
                        <td>{{ row.total }}</td>
                        <td>{{ row.abono }}</td>
                        <td>
                            <form action="/delete" method="post">
                                <input type="hidden" name="id" value="{{ row._id }}">
                                <button type="submit" class="btn btn-danger">Eliminar</button>
                            </form>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
    </div>
    </div>
    <div class="row">
        <div class="col-4; text-left" style="font-size: 3rem; color:black">
            <b>Usuario activo: {{ user }}</b>
        </div>
        <div class="col-4; text-center">
            <form action="/logout" method="post">
                <button style="font-size: 25px; padding: 20px 30px; color:rgb(28, 0, 54); background-color: blueviolet;" type="submit" value="Logout">Cerrar sesión</button>
            </form>
        </div>
    </div>
    <div class="col-4; text-center">
        <form action="/dashboard/pedidos" method="get">
            <button style="font-size: 25px; padding: 20px 30px; color:rgb(132, 0, 255); background-color: rgb(21, 5, 37);" type="submit">Crear pedido</button>
        </form>
    </div>
    <div class="col-4; text-center">
        <form action="/dashboard" method="get">
            <button style="font-size: 25px; padding: 20px 30px; color:rgb(132, 0, 255); background-color: rgb(21, 5, 37);" type="submit">Volver a inicio</button>
        </form>
    </div>
</body>
</html>
