<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ventas</title>
    <link rel="stylesheet" type="text/css" href="/static/styles.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <style>
        table {
	width: 100%;
	border-collapse: collapse;
}

th, td {
	border: 1px solid #ddd;
	padding: 8px;
}

th {
	background-color: #094c90;
	color: white;
}

	tr:nth-child(even) {
	background-color: #f2f2f2;
}

	tr:hover {
	background-color: #ddd;
}

	td {
	background-color: #e6f7ff;
}

	tr:nth-child(odd) td {
	background-color: #cceeff;
}

	tr:nth-child(even) td {
	background-color: #b3e6ff;
}
    </style>
</head>
<body>
    <div class="row; text-center">
        <div class="col" style="color:pink; font-size: 5rem;">
            <b>Total de Ventas 🧁</b>
        </div>
    </div>
    <div class="container">
        <h1 style="font-size: 2rem; color: black;"><b>Ventas</b> 
            <form action="/inicio/cobro" method="get">
            <button style="font-size: 25px; padding: 20px 30px; color:rgb(132, 0, 255); background-color: rgb(21, 5, 37);" type="submit">Volver a la caja</button>
        </form>
        </h1>
        <form action="/primeras_ventas" method="get">
            <button style="font-size: 25px; padding: 20px 30px; color:rgb(132, 0, 255); background-color: rgb(21, 5, 37);" type="submit">Ir a últimas ventas</button>
        </form>
        <form action="/total_ventas" method="get">
            <button style="font-size: 25px; padding: 20px 30px; color:rgb(132, 0, 255); background-color: rgb(21, 5, 37);" type="submit">Ir a primeras ventas</button>
        </form>
        <form action="/venta_del_dia" method="post">
            <label style="font-size: 2rem; color: black;" for="frecha"><b>¿Cuánto vendí el día: </b></label>
            <input style="font-size: 25px; padding: 20px 30px; color:rgb(132, 0, 255); background-color: rgb(241, 143, 234);" type="date" id="frecha" name="frecha">
            <button style="font-size: 25px; padding: 20px 30px; color:rgb(132, 0, 255); background-color: rgb(21, 5, 37);" type="submit">Consultar</button><b>?</b>
        </form>
        <div style="font-size: 2rem; color:black"><b>Vendiste: ${{ ventadas }}</b></div>
    </div>
    <table>
        <thead>
            <tr>
                <th>No. de venta</th>
                <th>Fecha</th>
                <th>Pedido</th>
                <th>Cantidad</th>
                <th>Precio</th>
                <th>Total</th>
                <th>Eliminar venta</th>
            </tr>
        </thead>
        <tbody>
            {% for row in ventas %}
            <tr>
                <td>{{ loop.index }}</td>
                <td>{{ row.fecha }}</td>
                <td>{{ row.pedido }}</td>
                <td>{{ row.cantidad }}</td>
                <td>{{ row.precio }}</td>
                <td>{{ row.total }}</td>
                <td>
                    <form action="/eliminar_venta" method="post">
                        <input type="hidden" name="id" value="{{ row._id }}">
                        <button type="submit" class="btn btn-danger">Eliminar</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="row">
        <div class="col-4; text-left" style="font-size: 3rem; color:black">
            <b>Usuario activo: {{ user }}</b>
        </div>
        <div class="col-4; text-center">
            <form action="/logout" method="post">
                <button style="font-size: 25px; padding: 20px 30px; color:rgb(28, 0, 54); background-color: blueviolet;" type="submit" value="Logout">Cerrar sesión</button>
            </form>
        </div>
    </div>
    <div class="col-4; text-center">
        <form action="/dashboard/pedidos" method="get">
            <button style="font-size: 25px; padding: 20px 30px; color:rgb(132, 0, 255); background-color: rgb(21, 5, 37);" type="submit">Crear pedido</button>
        </form>
    </div>
    <div class="col-4; text-center">
        <form action="/dashboard" method="get">
            <button style="font-size: 25px; padding: 20px 30px; color:rgb(132, 0, 255); background-color: rgb(21, 5, 37);" type="submit">Volver a inicio</button>
        </form>
    </div>
</body>
</html>
</body>
</html>